<h1>User Signup</h1>

<form class="form-horizontal" action="/users/" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group row">
    <label class="control-label col-sm-2" for="username">Username</label>
    <input class="form-control col-sm-6" name="user[username]" type="text" id="username" placeholder="Username"/>
  </div>

  <div class="form-group row">
    <label class="control-label col-sm-2" for="email">Email</label>
    <input class="form-control col-sm-6" name="user[email]" type="email" id="email" placeholder="Email"/>
  </div>

  <div class="form-group row">
    <label class="control-label col-sm-2" for="password">Password</label>
    <input class="form-control col-sm-6" type="password" name="user[password]" id="password" placeholder="Password"/>
  </div>

  <input class="btn btn-primary" type="submit" value="signup"/>
</form>
